/* **globalstyles** */

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root {
  --clr-white: rgb(255, 255, 255);
  --clr-grey-2: rgb(36, 58, 82);
  --clr-grey-5: rgb(97, 125, 152);
  --clr-green-light: rgb(107, 230, 117);
  --clr-bground: rgba(0, 77, 68, 0.7);
  --clr-bground1:	rgb(184, 223, 144);
  --clr-bground2: rgb(0, 77, 68);
  --clr-secondary: rgb(142, 142, 143);
  --clr-black: 	rgb(34, 34, 34);
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --ff-primary: "Roboto", sans-serif;
  --radius: 0.2rem;
  --transition: all 0.3s linear;
}

html {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  line-height: 1.5;
  font-size: 0.875rem;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}


/* **navbar** */
nav {
  background: var(--clr-bground2);
  padding: 1rem 1.5rem;
  z-index: 1000;
  border-bottom: 0.5rem solid var(--clr-green-light);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#logo,
#logoSub {
  font-size: 2rem;
  text-transform: none;
  color: white;
  margin: 0;
}

#logoSub {
  font-size: 0.9rem;
}

@media screen and (min-width: 800px) {
  #logoSub {
    margin-top: 0.5rem;
  }
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-white);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

nav .links a:hover {
  color: var(--clr-secondary);
}


.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.links a {
  color: var(--clr-white);
  font-size: 1.1rem;
  text-transform: capitalize;
  display: block; 
  transition: var(--transition);
  font-weight: bold;
  padding: 0.75rem 0;
}

@media screen and (min-width: 800px) {

  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
    list-style-type: none; 
    padding: 0; 
  }
  .links a {
    margin: 0 1rem;
  }

}
/* **endNavbar** */

/* ###Home### */

#home{
  margin-top: 3rem;
}
.banner {
  background: url(./photos/banner.jpg) center/cover no-repeat;
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}
.container h1 {
  color: var(--clr-white);
  text-transform: capitalize;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.container p {
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
  color: var(--clr-white);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 768px) {
  .container p {
    max-width: 40rem;
  }
}

.btn-white {
  background: transparent;
  border: 2px solid var(--clr-black);
  color: var(--clr-white);
  border-color: var(--clr-white);
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}
.btn-white:hover {
  background: var(--clr-white);
  color: var(--clr-black);
}


/* ###About### */
#about {
  height: auto;
  background: url(./photos/map.jpg) center/cover no-repeat;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.carousel-inner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vh;
}

@media screen and (min-width: 800px) {
  .carousel-inner {
    height: 25vh;
  }
}


.quotes {
    background-color: var(--clr-bground);
    border-radius: 1rem;
    padding: 10px;
    width: 80%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.quote-content {
    height: auto; /* Fixed height for each quote */
    overflow: hidden; 
    display: none; /* Initially hide all quotes */
}

.quote-content.active {
    display: block; /* Display active quote */
}

.quotes p {
    color: var(--clr-white);
    font-family: var(--ff-primary);
    font-weight: bold;
    text-align: center;
    text-transform: none;
    margin-top: 1rem;
    margin-bottom: 0;
    line-height: 1.5; 
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 30%;
    cursor: pointer;
    z-index: 1;
}

.carousel-control.prev {
    left: 0;
}

.carousel-control.next {
    right: 0;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.carousel-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: rgb(177, 175, 175);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carousel-indicator.active {
    background-color: #ffffff;
}


/* ###Services### */

.service {
  padding: 1.5rem 1.5rem 0 1.5rem;
  border-bottom: 1px solid var(--clr-bground2);
}

.service-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.service-title p {
  margin-bottom: 0;
  color: var(--clr-grey-2);
  font-weight: bold;
  font-size: 1.2rem;
  transform: skewX(-5deg);
}

.service-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: var(--clr-grey-2);
}

.service-text {
  padding: 1rem 0 1.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.service-text p {
  color: var(--clr-grey-2);
  font-weight: bold;
}

.service-text {
  display: none;
}

.show-text .service-text {
  display: block;
}

.minus-icon {
  display: none;
} 

.show-text .minus-icon {
  display: inline;
}

.show-text .plus-icon {
  display: none;
}

/* ###Contact### */

.map-container {
  position: relative;
  padding-top: 56.25%;
  border-bottom: 0.5rem solid var(--clr-green-light);
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


footer {
  background: var(--clr-bground2);
  padding: 5rem;

}
.footer-content {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

@media screen and (min-width: 800px) {
  .footer-content {
    font-size: 1.25rem;
  }
}

.footer-content .opening-times  {
  padding-top: 2rem;
}
.footer-content .opening-times a:hover{
  color:var(--clr-white);
}
.footer-content .phone-info p {
  margin-top:  1rem;
  margin-bottom: 0rem;
}
.footer-content .icon-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}
.footer-content .icon-container a,
.footer-content .opening-times a,
.footer-content .phone-info a, 
.footer-content  p a,
.footer-content {
  color: var(--clr-bground1);
}

.footer-content .icon-container a:hover {
  color: var(--clr-white);
}
.footer-content p a i:hover {
  color: var(--clr-white);
}


.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: var(--clr-green-light);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: var(--radius);
  color: var(--clr-white);
  animation: bounce 3s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}
.show-link {
  visibility: visible;
  z-index: 100;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.top-link:hover {
  background: rgb(142, 142, 143);
}


